.vscode/**
.vscode-test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
**/.DS_Store
.nyc_output/**
coverage/**
**/*.test.js
**/*.test.ts
test/**
.github/**